.form-main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: #0084b4;
}

p {
    color: #00aced;
}

.handle-prefix {
    font-size: 20px;
    text-align: right;
}

.cell-created-at {
    font-family: Courier;
    padding-right: 30px;
    padding-left: 10px;
}

.cell-tweet-text {
    border-left: 5px solid #0084b4;
}